
@{
    ViewData["Title"] = "TaskRequestTitleEdit";
}

<h1>Task Request Title Edit</h1>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Task Request Title ID<i class="fa fa-sort ml-1"></i></th>
                    <th scope="col">Task Request Title<i class="fa fa-sort ml-1"></i></th>
                    <th scope="col" align="right">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                   <td>1</td>
                    <td>001</td>
                    <td>Engine Failed</td>
                    <td><i class="fa fa-pen" style="color:"></i><i class="fa fa-trash ml-5" style="color:"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>